form {
    padding: 50px;
    text-align: center;
}

.form-list-text {
    line-height: 1.2;
    font-size: 15px;
    padding-top: 0px;
    margin-bottom: 10px;
    color: #5e5e5e;
    font-weight: 300;

    line-height: 1.6em;

    padding: 10px;
}