p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

.work-body {
    background-color: #e6e6e6;
}

.work-content {
    margin: auto;
    width: 900px;
    max-width: 900px;
    box-shadow: 0 0 0.5rem rgba(33,33,33,.2);

    background-color: white;
}

.Education, .Skills, .work {
    padding-top: 0.5rem;
    padding-left: 2rem;
}

.experience {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.exp_details {
    width: 75%;
}

.company {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.position {
    font-size: 1rem;
    padding-bottom: 0.3rem;
    color: rgb(56, 54, 54);
}

.description {
    font-size: 1rem;
    padding-bottom: 0.3rem;
}

.term {
    font-size: 1rem;
    font-style: italic;
    padding-bottom: 0.3rem;
    color: gray;
}

.exp_img {   
    padding-right: 1rem;
    height: 3.5rem;
    width: 3.5rem;
}

img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}