{% extends "index.html" %}
{% block content %}
    <div class="narrow-banner">
        <h1 class="type-text">{{data['LargeTitle']}}</h1>
    </div>

    <div class="center-title">
        <h1 class="large-title">{{data['Quote']}}</h1>
        <div class="text">
            <p>{{data['Pitch']}}</p>
        </div>
    </div>
    {%for hobby in hobbies%}
        <div class="gridrow">
            <div class="profile">
                <div id="profile-picture" class="profile-picture">
                    <img src="{{hobbies[hobby]['Picture']}}"/>
                </div>
            </div>
            
            <div class="column-center">
                <div class="title">{{hobbies[hobby]['Title']}}</div>
                <div class="text">
                    <p>{{hobbies[hobby]['Description']}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
 
{%endblock%}