{% extends "index.html" %}
{% block content %}
    <div class="narrow-banner">
        <h1 class="type-text">{{data['LargeTitle']}}</h1>
    </div>

    <div class="center-title">
        <h1 class="large-title">{{data['Quote']}}</h1>
        <div class="text">
            <p>{{data['Pitch']}}</p>
        </div>
    </div>

    {%for hobby in hobbies%}
        {% if loop.index is divisibleby 2 %}
            <div class="gridrow-reverse">
        {% else %}
            <div class="gridrow">
        {% endif %}
            <div class="profile">
                <div id="profile-picture" class="profile-picture">
                    <img src="{{hobbies[hobby]['Picture']}}"/>
                </div>
            </div>
            
            <div class="column-center">
                <div class="title">{{hobbies[hobby]['Title']}}</div>
                <div class="text">
                    <p>{{hobbies[hobby]['Description']}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    
    <div class="map-background">
        <div class="map-banner">
            <div class="text">
                <h1 class="map-title">My Travels</h1>
                {%for hobby in hobbies%}
                <p>{{hobbies[hobby]['Description']}}</p>
                {% endfor %}
            </div>
            <div id="map"></div>
        </div>
    </div>

    <div class="center-title">
        <h1 class="large-title">{{conclusion['Title']}}</h1>
        <div class="text">
            <p>{{conclusion['Text']}}</p>
        </div>
        <br>
    </div>

    <div class="image-grid-area">
        {% for i in range(2) %}
        <div class="image-grid">
            {% for i in range(3) %}
                <p class="small-title">Title</p>
                <img src="{{images['travel']}}"/>
                <a href="https://www.youtube.com/" target="_blank"> See More</a>
                <p>{{conclusion['Text']}}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
 
{%endblock%}