{% extends "index.html" %}
{% block content %}   
    <div class="large-banner">
        <h1>{{data['Name']}}</h1>
        <div class="subtitle-text">
            <p>{{data['Subtitle']}}</p>
        </div>
    </div>

    <div class="center-title">
        <h1 class="large-title">{{data['Quote']}}</h1>
        <div class="text">
            <p>{{data['Pitch']}}</p>
        </div>
    </div>

    <div class="gridrow">
        <div class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="{{images['profilePic']}}"/>
            </div>
            <!-- <h1>{{ title }}</h1> -->
        </div>
        
        <div class="column-center">
            <!-- <div class="small-title">
                smol
            </div> -->
            <div class="title">ABOUT ME</div>
            <div class="text">
                <p>{{data['Description']}}</p>
            </div>
        </div>
    </div>

    <div class="map-background">
        <div class="map-banner">
            <div class="text">
                <h1 class="map-title">My Travels</h1>
                <p>123 Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut suscipit condimentum molli.Aenean luctus egestas nisi, et imperdiet lorem consectetur sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 123 Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut suscipit condimentum molli.Aenean luctus egestas nisi, et imperdiet lorem consectetur sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit.123 Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut suscipit condimentum molli.Aenean luctus egestas nisi, et imperdiet lorem consectetur sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div id="map"></div>
        </div>
    </div>

    <div class="center-title">
        <h1 class="large-title">{{data['Conclusion']}}</h1>
        <div class="text">
            <p>{{data['BottomText']}}</p>
        </div>
        <br>
    </div>

{% endblock %}