{% extends "index.html" %}
{% block content %}   
    <div class="large-banner">
        <h1>{{data['Name']}}</h1>
        <div class="subtitle-text">
            <p>{{data['Subtitle']}}</p>
        </div>
    </div>

    <div class="center-title">
        <h1 class="large-title">{{data['Quote']}}</h1>
        <div class="text">
            <p>{{data['Pitch']}}</p>
        </div>
    </div>

    <div class="gridrow">
        <div class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="{{images['profilePic']}}"/>
            </div>
            <!-- <h1>{{ title }}</h1> -->
        </div>
        
        <div class="column-center">
            <!-- <div class="small-title">
                smol
            </div> -->
            <div class="title">ABOUT ME</div>
            <div class="text">
                <p>{{data['Description']}}</p>
            </div>
        </div>
    </div>

    <div class="map-background">
        <div>
            <h1 class="large-white-title">Skills</h1>
        </div>
        <div class="footer-grid">
            <div class="white-text">
                <h1>{{data['Skills']['0']['Title']}}</h1>
                <p>{{data['Skills']['0']['Description']}}</p>

                <h1>{{data['Skills']['1']['Title']}}</h'1'>
                <p>{{data['Skills']['1']['Description']}}</p>

                <h1>{{data['Skills']['2']['Title']}}</h1>
                <p>{{data['Skills']['2']['Description']}}</p>
            </div>
        </div>
    </div>

    <div class="center-title">
        <h1 class="large-title">{{data['Conclusion']}}</h1>
        <div class="text">
            <p>{{data['BottomText']}}</p>
        </div>
        <br>
    </div>

    <div class="image-grid-area">
        <div class="image-grid">
            <img src="{{images['jwst']}}"/>
            <a href="https://www.youtube.com/" target="_blank"> See More</a>
            <p>{{data['BottomText']}}</p>

            <img src="{{images['radium_utahTeapot']}}"/>
            <a href="https://www.youtube.com/" target="_blank"> See More</a>
            <p>{{data['BottomText']}}</p>

            <img src="{{images['pc_setup']}}"/>
            <a href="https://www.youtube.com/" target="_blank"> See More</a>
            <p>{{data['BottomText']}}</p>
        </div>
        <div class="image-grid">
            <img src="{{images['r2-d2']}}"/>
            <a href="https://www.youtube.com/" target="_blank"> See More</a>
            <p>{{data['BottomText']}}</p>

            <img src="{{images['patrick_and_gary']}}"/>
            <a href="https://www.youtube.com/" target="_blank"> See More</a>
            <p>{{data['BottomText']}}</p>

            <img src="{{images['RoyalGameOfUr_1']}}"/>
            <a href="https://www.youtube.com/" target="_blank"> See More</a>
            <p>{{data['BottomText']}}</p>
        </div>
    </div>

{% endblock %}