{% extends "index.html" %}
{% block content %}   
    <div class="large-banner">
        <h1>{{data['Name']}}</h1>
        <div class="subtitle-text">
            <p>{{data['Subtitle']}}</p>
        </div>
    </div>

    <div class="center-title">
        <h1 class="large-title">{{data['Quote']}}</h1>
        <div class="text">
            <p>{{data['Pitch']}}</p>
        </div>
    </div>

    <div class="gridrow">
        <div class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="{{images['profilePic']}}"/>
            </div>
            <!-- <h1>{{ title }}</h1> -->
        </div>
        
        <div class="column-center">
            <!-- <div class="small-title">
                smol
            </div> -->
            <div class="title">ABOUT ME</div>
            <div class="text">
                <p>{{data['Description']}}</p>
            </div>
        </div>
    </div>

    <div class="map-background">
        <div>
            <h1 class="large-white-title">Skills</h1>
        </div>
        <div class="footer-grid">
            <div class="white-text">
                <h1>{{data['Skills']['0']['Title']}}</h1>
                <p>{{data['Skills']['0']['Description']}}</p>

                <h1>{{data['Skills']['1']['Title']}}</h1>
                <p>{{data['Skills']['1']['Description']}}</p>

                <h1>{{data['Skills']['2']['Title']}}</h1>
                <p>{{data['Skills']['2']['Description']}}</p>
            </div>
            <div>

            </div>
        </div>
    </div>

    <div class="center-title">
        <h1 class="large-title">{{data['Conclusion']}}</h1>
        <div class="text">
            <p>{{data['BottomText']}}</p>
        </div>
        <br>
    </div>

    <div class="image-grid-area">
        <div class="image-grid">
            <img src="{{images['ai_racers2']}}"/>
            <a href="https://github.com/MichaelCASC5/AIracers" target="_blank"> See More</a>
            <p>Machine Learning - Navigating a User-Drawn Course</p>

            <img src="{{images['radium_utahTeapot']}}"/>
            <a href="https://github.com/MichaelCASC5/3DGraphics" target="_blank"> See More</a>
            <p>3D Graphics - Java Built 3D Graphics Framework Software</p>

            <img src="{{images['vbot2']}}"/>
            <a href="https://top.gg/bot/811641183633408020" target="_blank"> See More</a>
            <p>Machine Learning - English Language Recognition</p>
        </div>
    </div>

    <div class="contain-panel">
        <div class="panel panel-cta">
            <div class="panel-body">
                <div class="col-lg-8">
                    <p><b>My Resume: </b>I've attached my resume here if you'd like to see a more official record of my experience!</p>
                </div>
                <div class="col-lg-4 text-right">
                    <a href="" class="btn btn-primary btn-lg">Download Here</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}