{% extends "index.html" %}
{% block content %}
<div class="center-title">
    <h1 class="large-title">Games and Simulations</h1>
    <div class="text">
        <p>Attention! Only download from here if you trust me. Also, I would recommend looking at the source code for these projects on my <a href="https://github.com/MichaelCASC5?tab=repositories" target = "_blank">GitHub</a>. All downloads come in the form of compressed archive. (.ZIP)</p>
    </div>
    <br>
</div>

<div class="image-grid-area">
    <div class="image-grid">
        <img src="{{images['ai_racers']}}"/>
        <a href="https://www.instagram.com/p/CgLOdNTrD1d/" target="_blank"> See More</a>
        <p>Machine Learning - Self Correcting Driving Application</p>

        <img src="{{images['keysandlocks']}}"/>
        <a href="https://www.instagram.com/p/CeMO3qMLPGM/" target="_blank"> See More</a>
        <p>HS Senior Year Computer Science Project - First 3D Software</p>

        <img src="{{images['space_sim']}}"/>
        <a href="https://www.instagram.com/p/CSiO40pL6oh/" target="_blank"> See More</a>
        <p>Unity 3D - Simple Spaceflight Simulator</p>
    </div>
</div>

<div class="center-title">
    <h1 class="large-title">Text-Based</h1>
    <div class="text">
        <p>Some of my console programs. These are relatively old.</p>
    </div>
    <br>
</div>

<div class="contain-panel">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p><b>CASTLE QUEST!</b> Navigate an infinite haunted castle while fighting off progressively more difficult monsters. You craft everything you carry.</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="CASTLE QUEST.zip" class="btn btn-primary btn-lg">Download Here</a>
            </div>
        </div>
    </div>
</div>

<div class="contain-panel">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p><b>HANGMAN!</b> Nothing more, nothing less. Hundreds of words, hints, definitions, and a high score tracker to inspire you to overcome.</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="CASTLE QUEST.zip" class="btn btn-primary btn-lg">Download Here</a>
            </div>
        </div>
    </div>
</div>

<div class="contain-panel">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p><b>CRYPTOGRAPHY!</b> A (not very secure) linear congruential crypotographic cipher, that you can use to encode and decode alphabetical messages.</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="CASTLE QUEST.zip" class="btn btn-primary btn-lg">Download Here</a>
            </div>
        </div>
    </div>
</div>

{%endblock%}